<!DOCTYPE html>

<html>
  <head>
    <title><%= pName %></title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/theme.css?style=nested&amp;color=ABC123"
    <script src="/main.js"></script>
  </head>
  <body class="bg-color">
    <div id="headerbar" class="theme-bg-d5">
      <strong style="font-size: 16px; margin: 0"><%= pName %> |</strong>
      <input type="text"></input>
      <a href="#" id="GenerateButton">Generate</a>
    </div>

    <div style="margin-top: 32px">
      <noscript>Please, enable JS!</noscript>
      <div class="colors">
        <div>
          <p class="title colordemo">Background color</p>
          <div class="color-bg cell"></div>
          <br/>

          <p class="colordemo title">Light #5</p>
          <div class="color-bg-l5 colordemo cell"></div>
          <p class="colordemo title">Light #4</p>
          <div class="color-bg-l4 colordemo cell"></div>
          <p class="colordemo title">Light #3</p>
          <div class="color-bg-l3 colordemo cell"></div>
          <p class="colordemo title">Light #2</p>
          <div class="color-bg-l2 colordemo cell"></div>
          <p class="colordemo title">Light #1</p>
          <div class="color-bg-l1 colordemo cell"></div>
        </div>
      </div>
    </div>

  </body>
</html>

<%# TODO: ЗАСТАВЬ УЖЕ ЭТОТ ЧЁРТОВ ХЕДЕРБАР РЕНДЕРИТЬСЯ НОРМАЛЬНО!!! %>
<%# TODO: Приделать defer к вызову main.js. Заставить его грузить стандартную тему после загрузки %>